<!DOCTYPE html>
<html>
<head>
    <title>Contact Us - junrai karaoke</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/contact.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <h4><a class="navbar-brand" href="#">SHOPSTORE</a></h4>
            </div>
            <h4>
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/roomForm">Room</a></li>
                    <li><a href="#">Service</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </h4>
            <div class="navbar-right">
                <a href="/loginform">Login</a> |
                <a href="/products">Cart</a>
                <div class="left-aligned-text">
                    <div class="search-container">
                        <form action="/search">
                            <input type="text" placeholder="Search..." name="q">
                            <button type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="contact-section">
            <h1 class="text-center">ติดต่อเรา</h1>
            
            <div class="row">
                <!-- ข้อมูลการติดต่อ -->
                <div class="col-md-6">
                    <div class="contact-info">
                        <h3>ข้อมูลติดต่อ</h3>
                        <p><i class="glyphicon glyphicon-map-marker"></i> ที่อยู่: 123 ถนนสุขุมวิท แขวงคลองเตย เขตคลองเตย กรุงเทพฯ 10110</p>
                        <p><i class="glyphicon glyphicon-phone"></i> โทร: 02-xxx-xxxx</p>
                        <p><i class="glyphicon glyphicon-phone-alt"></i> มือถือ: 081-xxx-xxxx</p>
                        <p><i class="glyphicon glyphicon-envelope"></i> อีเมล: info@karaokestore.com</p>
                        
                        <!-- Social Media -->
                        <div class="social-media">
                            <h3>ติดตามเรา</h3>
                            <p><i class="glyphicon glyphicon-thumbs-up"></i> Facebook: KaraokeStore</p>
                            <p><i class="glyphicon glyphicon-camera"></i> Instagram: @karaokestore</p>
                            <p><i class="glyphicon glyphicon-comment"></i> Line: @karaokestore</p>
                        </div>
                        
                        <!-- เวลาทำการ -->
                        <div class="opening-hours">
                            <h3>เวลาทำการ</h3>
                            <p>จันทร์ - อาทิตย์: 11:00 - 24:00 น.</p>
                            <p>วันหยุดนักขัตฤกษ์: 11:00 - 24:00 น.</p>
                        </div>
                    </div>
                </div>
                
                <!-- รูปภาพร้าน -->
                <div class="col-md-6">
                    <div class="shop-images">
                        <h3>ภาพร้านของเรา</h3>
                        <div class="image-gallery">
                            <img src="/images/shop1.jpg" alt="ภาพร้าน 1" class="img-responsive">
                            <img src="/images/shop2.jpg" alt="ภาพร้าน 2" class="img-responsive">
                            <img src="/images/shop3.jpg" alt="ภาพร้าน 3" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>